.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height:100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
  }

  .animated{
    transition-property: background, border-radius;
    transition-duration: 5s, 1s; 
    transition-delay: 2s, 0.5s;
    transition-timing-function: linear; /* this affects the acceleration curve for how these changes happen - allows for acceleration or decelleration */
  }

  .box:hover {
    background: #e74c3c;
    transform-origin: top left;
    transform:scale(2); /* rotate(45deg); you cannot specify which transform you want to transition it will do both if you include both */
    border-radius: 50px;
    /* opacity: 0.75;  */
  }